## Data Wrangling

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
# Load data

data = r'C:\Users\HP\Desktop\Anon\DS\ALTSCHOOL-DS\workspace\Downloaded files\gapminder_with_codes.csv'
df = pd.read_csv(data)

In [4]:
df.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4

In [5]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap',
       'iso_alpha', 'iso_num'],
      dtype='object')

In [6]:
df['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belgium',
       'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [7]:
df.continent.unique()

array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object)

In [8]:
subset_temporal = df['year'] == 2007

In [9]:
subset_temporal

0       False
1       False
2       False
3       False
4       False
        ...
1699    False
1700    False
1701    False
1702    False
1703     True
Name: year, Length: 1704, dtype: bool

In [10]:
subset_temporal = df[df['year'] == 2007]

In [11]:
subset_temporal

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
11,Afghanistan,Asia,2007,43.828,31889923,974.580338,AFG,4
23,Albania,Europe,2007,76.423,3600523,5937.029526,ALB,8
35,Algeria,Africa,2007,72.301,33333216,6223.367465,DZA,12
47,Angola,Africa,2007,42.731,12420476,4797.231267,AGO,24
59,Argentina,Americas,2007,75.320,40301927,12779.379640,ARG,32
...,...,...,...,...,...,...,...,...
1655,Vietnam,Asia,2007,74.249,85262356,2441.576404,VNM,704
1667,West Bank and Gaza,Asia,2007,73.422,4018332,3025.349798,PSE,275
1679,"Yemen, Rep.",Asia,2007,62.698,22211743,2280.769906,YEM,887
1691,Zambia,Africa,2007,42.384,11746035,1271.211593,ZMB,894
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [12]:
subset_temporal_Asia = df[df['continent'] == 'Asia']

In [13]:
subset_temporal_Asia

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1675,"Yemen, Rep.",Asia,1987,52.922,11219340,1971.741538,YEM,887
1676,"Yemen, Rep.",Asia,1992,55.599,13367997,1879.496673,YEM,887
1677,"Yemen, Rep.",Asia,1997,58.020,15826497,2117.484526,YEM,887
1678,"Yemen, Rep.",Asia,2002,60.308,18701257,2234.820827,YEM,887
1679,"Yemen, Rep.",Asia,2007,62.698,22211743,2280.769906,YEM,887

In [14]:
subset_temporal_india = df[df['country'] == 'India']

In [15]:
subset_temporal_india

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
696,India,Asia,1952,37.373,372000000,546.565749,IND,356
697,India,Asia,1957,40.249,409000000,590.061996,IND,356
698,India,Asia,1962,43.605,454000000,658.347151,IND,356
699,India,Asia,1967,47.193,506000000,700.770611,IND,356
700,India,Asia,1972,50.651,567000000,724.032527,IND,356
701,India,Asia,1977,54.208,634000000,813.337323,IND,356
702,India,Asia,1982,56.596,708000000,855.723538,IND,356
703,India,Asia,1987,58.553,788000000,976.512676,IND,356
704,India,Asia,1992,60.223,872000000,1164.406809,IND,356
705,India,Asia,1997,61.765,959000000,1458.817442,IND,356
706,India,Asia,2002,62.879,1034172547,1746.769454,IND,356
707,India,Asia,2007,64.698,1110396331,2452.210407,IND,356

In [16]:
subset_temporal_india_2007 = df[(df['country'] == 'India') & (df['year'] == 2007)]

In [17]:
subset_temporal_india_2007

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
707,India,Asia,2007,64.698,1110396331,2452.210407,IND,356

In [18]:
lifeExp_80 = df[df['lifeExp'] > 80]

In [19]:
lifeExp_80

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
70,Australia,Oceania,2002,80.370,19546792,30687.75473,AUS,36
71,Australia,Oceania,2007,81.235,20434176,34435.36744,AUS,36
251,Canada,Americas,2007,80.653,33390141,36319.23501,CAN,124
539,France,Europe,2007,80.657,61083916,30470.01670,FRA,250
670,"Hong Kong, China",Asia,2002,81.495,6762476,30209.01516,HKG,344
671,"Hong Kong, China",Asia,2007,82.208,6980412,39724.97867,HKG,344
694,Iceland,Europe,2002,80.500,288030,31163.20196,ISL,352
695,Iceland,Europe,2007,81.757,301931,36180.78919,ISL,352
767,Israel,Asia,2007,80.745,6426679,25523.27710,ISR,376
778,Italy,Europe,2002,80.240,57926999,27968.09817,ITA,380
779,Italy,Europe,2007,80.546,58147733,28569.71970,ITA,380
801,Japan,Asia,1997,80.690,125956499,28816.58499,JPN,392
802,Japan,Asia,2002,82.000,127065841,28604.59190,JPN,392
803,Japan,Asia,2007,82.603,127467972,31656.06806,JPN,392
1103,New Zealand,Oceania,2007,80.204,4115771,25185.00911,NZL,554
1151,Norway,Europe,2007,80.196,4627926,49357.19017,NOR,578
1427,Spain,Europe,2007,80.941,40448191,28821.06370,ESP,724
1474,Sweden,Europe,2002,80.040,8954175,29341.63093,SWE,752
1475,Sweden,Europe,2007,80.884,9031088,33859.74835,SWE,752
1486,Switzerland,Europe,2002,80.620,7361757,34480.95771,CHE,756
1487,Switzerland,Europe,2007,81.701,7554661,37506.41907,CHE,756

In [20]:
lifeExp_30 = df[df['lifeExp'] < 30]

In [21]:
lifeExp_30

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1292,Rwanda,Africa,1992,23.599,7290203,737.068595,RWA,646

In [22]:
df[df['country'].isin(['United states', 'China', 'India'])]

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
288,China,Asia,1952,44.00000,556263527,400.448611,CHN,156
289,China,Asia,1957,50.54896,637408000,575.987001,CHN,156
290,China,Asia,1962,44.50136,665770000,487.674018,CHN,156
291,China,Asia,1967,58.38112,754550000,612.705693,CHN,156
292,China,Asia,1972,63.11888,862030000,676.900092,CHN,156
293,China,Asia,1977,63.96736,943455000,741.237470,CHN,156
294,China,Asia,1982,65.52500,1000281000,962.421381,CHN,156
295,China,Asia,1987,67.27400,1084035000,1378.904018,CHN,156
296,China,Asia,1992,68.69000,1164970000,1655.784158,CHN,156
297,China,Asia,1997,70.42600,1230075000,2289.234136,CHN,156
298,China,Asia,2002,72.02800,1280400000,3119.280896,CHN,156
299,China,Asia,2007,72.96100,1318683096,4959.114854,CHN,156
696,India,Asia,1952,37.37300,372000000,546.565749,IND,356
697,India,Asia,1957,40.24900,409000000,590.061996,IND,356
698,India,Asia,1962,43.60500,454000000,658.347151,IND,356
699,India,Asia,1967,47.19300,506000000,700.770611,IND,356
700,India,Asia,1972,50.65100,567000000,724.032527,IND,356
701,India,Asia,1977,54.20800,634000000,813.337323,IND,356
702,India,Asia,1982,56.59600,708000000,855.723538,IND,356
703,India,Asia,1987,58.55300,788000000,976.512676,IND,356
704,India,Asia,1992,60.22300,872000000,1164.406809,IND,356
705,India,Asia,1997,61.76500,959000000,1458.817442,IND,356
706,India,Asia,2002,62.87900,1034172547,1746.769454,IND,356
707,India,Asia,2007,64.69800,1110396331,2452.210407,IND,356

In [23]:
subset_temporal_Africa_gdp_5000 = df[(df['continent'] == 'Africa') & (df['gdpPercap'] >  5000)]

In [24]:
subset_temporal_Africa_gdp_5000

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
30,Algeria,Africa,1982,61.368,20033753,5745.160213,DZA,12
31,Algeria,Africa,1987,65.799,23254956,5681.358539,DZA,12
32,Algeria,Africa,1992,67.744,26298373,5023.216647,DZA,12
34,Algeria,Africa,2002,70.994,31287142,5288.040382,DZA,12
35,Algeria,Africa,2007,72.301,33333216,6223.367465,DZA,12
39,Angola,Africa,1967,35.985,5247469,5522.776375,AGO,24
40,Angola,Africa,1972,37.928,5894858,5473.288005,AGO,24
163,Botswana,Africa,1987,63.622,1151184,6205.883850,BWA,72
164,Botswana,Africa,1992,62.745,1342614,7954.111645,BWA,72
165,Botswana,Africa,1997,52.556,1536536,8647.142313,BWA,72
166,Botswana,Africa,2002,46.634,1630347,11003.605080,BWA,72
167,Botswana,Africa,2007,50.728,1639131,12569.851770,BWA,72
467,Egypt,Africa,2007,71.338,80264543,5581.180998,EGY,818
490,Equatorial Guinea,Africa,2002,49.348,495627,7703.495900,GNQ,226
491,Equatorial Guinea,Africa,2007,51.579,551201,12154.089750,GNQ,226
542,Gabon,Africa,1962,40.489,455661,6631.459222,GAB,266
543,Gabon,Africa,1967,44.598,489004,8358.761987,GAB,266
544,Gabon,Africa,1972,48.690,537977,11401.948410,GAB,266
545,Gabon,Africa,1977,52.790,706367,21745.573280,GAB,266
546,Gabon,Africa,1982,56.564,753874,15113.361940,GAB,266
547,Gabon,Africa,1987,60.190,880397,11864.408440,GAB,266
548,Gabon,Africa,1992,61.366,985739,13522.157520,GAB,266
549,Gabon,Africa,1997,60.461,1126189,14722.841880,GAB,266
550,Gabon,Africa,2002,56.761,1299304,12521.713920,GAB,266
551,Gabon,Africa,2007,56.735,1454867,13206.484520,GAB,266
902,Libya,Africa,1962,47.808,1441863,6757.030816,LBY,434
903,Libya,Africa,1967,50.227,1759224,18772.751690,LBY,434
904,Libya,Africa,1972,52.773,2183877,21011.497210,LBY,434
905,Libya,Africa,1977,57.442,2721783,21951.211760,LBY,434
906,Libya,Africa,1982,62.155,3344074,17364.275380,LBY,434
907,Libya,Africa,1987,66.234,3799845,11770.589800,LBY,434
908,Libya,Africa,1992,68.755,4364501,9640.138501,LBY,434
909,Libya,Africa,1997,71.555,4759670,9467.446056,LBY,434
910,Libya,Africa,2002,72.737,5368585,9534.677467,LBY,434
911,Libya,Africa,2007,73.952,6036914,12057.499280,LBY,434
980,Mauritius,Africa,1992,69.745,1096202,6058.253846,MUS,480
981,Mauritius,Africa,1997,70.736,1149818,7425.705295,MUS,480
982,Mauritius,Africa,2002,71.954,1200206,9021.815894,MUS,480
983,Mauritius,Africa,2007,72.801,1250882,10956.991120,MUS,480
1264,Reunion,Africa,1972,64.274,461633,5047.658563,REU,638
1266,Reunion,Africa,1982,69.885,517810,5267.219353,REU,638
1267,Reunion,Africa,1987,71.913,562035,5303.377488,REU,638
1268,Reunion,Africa,1992,73.615,622191,6101.255823,REU,638
1269,Reunion,Africa,1997,74.772,684810,6071.941411,REU,638
1270,Reunion,Africa,2002,75.744,743981,6316.165200,REU,638
1271,Reunion,Africa,2007,76.442,798094,7670.122558,REU,638
1405,South Africa,Africa,1957,47.985,16151549,5487.104219,ZAF,710
1406,South Africa,Africa,1962,49.951,18356657,5768.729717,ZAF,710
1407,South Africa,Africa,1967,51.927,20997321,7114.477971,ZAF,710
1408,South Africa,Africa,1972,53.696,23935810,7765.962636,ZAF,710
1409,South Africa,Africa,1977,55.527,27129932,8028.651439,ZAF,710
1410,South Africa,Africa,1982,58.161,31140029,8568.266228,ZAF,710
1411,South Africa,Africa,1987,60.834,35933379,7825.823398,ZAF,710
1412,South Africa,Africa,1992,61.888,39964159,7225.069258,ZAF,710
1413,South Africa,Africa,1997,60.236,42835005,7479.188244,ZAF,710
1414,South Africa,Africa,2002,53.365,44433622,7710.946444,ZAF,710
1415,South Africa,Africa,2007,49.339,43997828,9269.657808,ZAF,710
1570,Tunisia,Africa,2002,73.042,9770575,5722.895655,TUN,788
1571,Tunisia,Africa,2007,73.923,10276158,7092.923025,TUN,788

In [25]:
subset_temporal_Africa_gdp_5000_2007 = subset_temporal_Africa_gdp_5000[subset_temporal_Africa_gdp_5000['year'] == 2007]

In [26]:
subset_temporal_Africa_gdp_5000_2007

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
35,Algeria,Africa,2007,72.301,33333216,6223.367465,DZA,12
167,Botswana,Africa,2007,50.728,1639131,12569.851770,BWA,72
467,Egypt,Africa,2007,71.338,80264543,5581.180998,EGY,818
491,Equatorial Guinea,Africa,2007,51.579,551201,12154.089750,GNQ,226
551,Gabon,Africa,2007,56.735,1454867,13206.484520,GAB,266
911,Libya,Africa,2007,73.952,6036914,12057.499280,LBY,434
983,Mauritius,Africa,2007,72.801,1250882,10956.991120,MUS,480
1271,Reunion,Africa,2007,76.442,798094,7670.122558,REU,638
1415,South Africa,Africa,2007,49.339,43997828,9269.657808,ZAF,710
1571,Tunisia,Africa,2007,73.923,10276158,7092.923025,TUN,788

### Use Case: Analyzing Population Growth in a Specific Decade

In this use case, we will focus on subsetting and filtering the Gapminder dataset to analyze population growth trends in a specific decade for a chosen continent. The goal is to understand how the population has changed over time and identify factors contributing to this change.

In [27]:
unique_continent = df.continent.unique()

In [30]:
selected_continent = 'Africa'

continent_data = df[df['continent'].isin([selected_continent])]


decade_start = 1997
decade_end = 2007

decade_data = continent_data[(continent_data['year'] >= decade_start ) & (continent_data['year'] <= decade_end )]

total_pop_per_country = decade_data.groupby('country')['pop'].sum().reset_index()

In [31]:
total_pop_per_country

                     country        pop
0                    Algeria   93692373
1                     Angola   33161606
2                      Benin   21170507
3                   Botswana    4806014
4               Burkina Faso   36930255
5                    Burundi   21533193
6                   Cameroon   47822090
7   Central African Republic   12113564
8                       Chad   26636557
9                    Comoros    1853324
10          Congo, Dem. Rep.  167785597
11               Congo, Rep.    9930352
12             Cote d'Ivoire   48892102
13                  Djibouti    1361698
14                     Egypt  219711393
15         Equatorial Guinea    1486799
16                   Eritrea   13379769
17                  Ethiopia  204319985
18                     Gabon    3880360
19                    Gambia    4381892
20                     Ghana   61842377
21                    Guinea   26804466
22             Guinea-Bissau    3998208
23                     Kenya   95260846
24                   Lesotho    6042244
25                   Liberia    8209318
26                     Libya   16165169
27                Madagascar   49806245
28                    Malawi   35571565
29                      Mali   31996955
30                Mauritania    8543664
31                 Mauritius    3600906
32                   Morocco   93454459
33                Mozambique   55028770
34                   Namibia    5801999
35                     Niger   33701772
36                   Nigeria  361140277
37                   Reunion    2226885
38                    Rwanda   23925572
39     Sao Tome and Principe     515559
40                   Senegal   32672844
41              Sierra Leone   16081866
42                   Somalia   23505597
43              South Africa  131266455
44                     Sudan  111543956
45                 Swaziland    3317821
46                  Tanzania  103420308
47                      Togo   14999847
48                   Tunisia   29278402
49                    Uganda   75120521
50                    Zambia   31759635
51                  Zimbabwe   35642654